{% extends '/templates/base.twig' %}

{% block title %}
    <title>Instructor</title>
{% endblock %}

{% block style %}
    {{ parent() }}
    <link href="/css/instructor.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-dark justify-content-between">
        <a href="/instructor" class="navbar-brand" style="font-size: 20pt;">Attendance Tracker</a>
        <div class="float-right">
            <img src="https://thumb9.shutterstock.com/display_pic_with_logo/78238/78238,1255878221,16/stock-photo-cyber-woman-with-a-corn-39094327.jpg" class="rounded-circle hoverable" style="width:35px;height:35px;">
            <button class="btn btn-outline-success btn-sm my-0" onclick="location.href='/'">Disconnect</button>
        </div>
    </nav>
    {% include '/templates/courselist.twig' %}
    <div class="instructor-body">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}