{% extends '../dashboard.twig' %}

{% block content %}
    <div class="welcome-text">
        <h1>Welcome Back, {{ user.username }}!</h1>
        <p>Select a course from the course list, or create a course.</p>
        <button type="button" onclick="location.href='/'" class="btn btn-primary">Create Course</button>
    </div>
{% endblock %}
