{% extends 'base_instructor.twig' %}

{% block content %}
    <div class="welcome-text">
        <h1>Welcome Back, {{ "User" }}!</h1>
        <p>Select a course from the course list, or create a course.</p>
        {% include '/templates/courseFormView.twig' %}
    </div>
{% endblock %}

{% block script %}
{% endblock %}
