.course-editor-body {
    margin-bottom: 65px;
    margin-left: 275px;
    padding: 20px;
}

#course-seating-grid {
    width: 100%;
    height: calc(85vh - 200px);
    overflow: auto;
}

#edit {
    margin: auto;
}

table#course-seating-table {
    display: table;
    width: 100%;
}

td.course-seat {
    border: 1px solid #e0e0e0;
}

.open {
    background-color: #8fbf8f;
}

.closed {
    background-color: #de9299;
}

.reserved {
    background-color: #d3d494;
}

td.course-seat:hover {
    filter: brightness(120%);
}

.btn {
    margin: 0;
    margin-top: 15px;
}

h1 {
    font-size: 3rem;
}

.modal#modal-danger-clear-student,
.modal#modal-danger-reset-template {
    top: calc(50% - 350px);
}

#reuse-grid-button {
    float: none !important;
}