div.dashboard-body {
    z-index: 2;
    position: relative;
    height: 100%;
}

div.welcome-text {
    vertical-align: middle;
    text-align: center;
    padding-top: 40px;
    margin-left: 275px;
}
