table {
    width: 100%;
}

td {
  border: 1px solid !important;
  border-color: #000;
  max-width: 20px;
  max-height: 20px;
}

.open {
  background-color: #264726;
}
.closed {
  background-color: #786959;
}
.reserved {
  background-color: #a8a929;
}
