div.instructor-body {
    top: 65px;
    margin-left: 275px;
    width: calc(100% - 275px);
    position: fixed;
    z-index: 2;
}

div.welcome-text {
    vertical-align: middle;
    text-align: center;
    padding-top: 40px;
}
