{% extends 'base.twig' %}

{% block body %}
    <div style="height: 100vh">
        <div class="flex-center flex-column" style="margin-bottom:60px;height:calc(100% - 60px);">
            <h1>This is a 404 :(</h1>
        </div>
    </div>
{% endblock %}