<!doctype html>

{% block title %}
<title>Tracker</title>
{% endblock %}

<link href="/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/css/mdb.min.css" rel="stylesheet"/>

{% block body %}
{% endblock %}
