{% extends 'course.twig' %}

{% block buttons %}
<div class="course-editor-controls">
        <button id="editsave" type="button" class="btn btn-primary">Edit</button>
</div>
{% endblock %}

{% block script %}
{{ parent() }}
<script>
$(document).ready(function () {
	$('#editsave').on('click', function (e) {
		if (grid.editable) {
		    grid.editable = false;
		    $('#editsave').html('Edit');
		    var seats = grid.getSeats();
		    console.log(seats);
		    $.ajax({
		        type: "post",
		        url: "/courses/{{ course.id }}/seats",
		        data: JSON.stringify(seats),
		        contentType: "application/json",
		        error: function (data, status) {
		            console.error(data);
		        }
		    });

		} else {
		    grid.editable = true;
		    $('#editsave').html('Save');
		}
	});
});
</script>
{% endblock %}
