{% extends 'base.twig' %}

{% block title %}
   <div>
       &nbsp;
   </div>
{% endblock %}

{% block body %}
    <div style="width: 40%">
        <form action="/course" method="post">
            <div class="md-form">
                <input placeholder="Course Name" type="text" name="name" class="form-control" id="courseFormName">
            </div>

            <div class="md-form">
                <input placeholder="Timeslot" type="text" name="timeSlot" class="form-control timepicker">
            </div>

            <div class="md-form">
                <input placeholder="Start Date" name="startDate" type="text" class="form-control datepicker">
            </div>

            <div class="md-form">
                <input placeholder="End Date" name="endDate" type="text" class="form-control datepicker">
            </div>

            <div class="md-form">
                <input placeholder="Rows" name="rows" type="number" class="form-control">
            </div>

            <div class="md-form">
                <input placeholder="Columns" name="cols" type="number" class="form-control">
            </div>

            <div class="md-form">
                <input type="submit" class="btn btn-primary form-control" value="Submit">
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.datepicker').pickadate({
                formatSubmit: 'yyyy-mm-dd',
                hiddenName: true
            });
            $('.timepicker').pickatime({
                twelvehour: true
            });
        });
    </script>
{% endblock %}