{% extends 'base.twig' %}

{% block title %}
    <h1>Course form goes here</h1>
{% endblock %}

{% block body %}
    <div style="width: 40%" align="center">
        <form action="/course" method="post">
            <div class="md-form">
                <input type="text" name="courseName" class="form-control" id="courseFormName">
                <label for="courseFormName">Course</label>
            </div>

            <div class="md-form">
                <input type="time" name="classTime" class="form-control" id="courseFormTime">
            </div>

            <div class="md-form">
                <input type="date" name="startDate" class="form-control" id="courseFormStartDate">
            </div>

            <div class="md-form">
                <input type="date" name="endDate" class="form-control" id="courseFormEndDate">
            </div>

            <div class="md-form">
                <input type="submit" class="btn btn-default" value="Submit" class="form-control" id="courseFormSubmit">
            </div>
        </form>
    </div>
{% endblock %}