{% extends 'base.twig' %}

{% block title %}
    <h1>Course form goes here</h1>
{% endblock %}

{% block body %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.datepicker').pickadate({
                formatSubmit: 'yyyy-mm-dd',
                hiddenName: true
            });
            $('.timepicker').pickatime({
                twelvehour: true
            });
        });
    </script>

    <div style="width: 40%">
        <form action="/course" method="post">
            <div class="md-form">
                <input type="text" name="courseName" class="form-control" id="courseFormName">
                <label for="courseFormName">Course</label>
            </div>

            <div class="md-form">
                <input placeholder="Timeslot" type="text" name="timeSlot" id="timeSlot" class="form-control timepicker">
                <label for="timeSlot">Click below to select a Timeslot</label>
            </div>

            <div class="md-form">
                <input placeholder="Start Date" name="startDate" type="date" id="startDate" class="form-control datepicker">
                <label for="startDate">Click below to select a start date</label>
            </div>

            <div class="md-form">
                <input placeholder="End Date" name="endDate" type="date" id="endDate" class="form-control datepicker">
                <label for="startDate">Click below to select an end date</label>
            </div>

            <div class="md-form">
                <input type="submit" class="btn btn-primary" value="Submit" class="form-control" id="courseFormSubmit">
            </div>
        </form>
    </div>
{% endblock %}