<link href="/css/courselist.css" rel="stylesheet"/>

{% block courselist %}
<div class="list-group courselist">
    <p class="list-group-item active">Course List</p>
    {% for course in courseList %}
        <a href="courses/{{ course.id }}" class="list-group-item courselist-item">{{ course.getName() }}</a>
    {% endfor %}
</div>
{% endblock %}
