{% extends '/templates/base.twig' %}

{% block title %}
    <title>Dashboard - {{ user.username }}</title>
{% endblock %}

{% block style %}
    {{ parent() }}
    <link href="/static/css/dashboard.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-dark justify-content-between">
        <a href="/{{ user.username }}" class="navbar-brand" style="font-size: 20pt;">Attendance Tracker</a>
        <div class="float-right">
            <img src="https://thumb9.shutterstock.com/display_pic_with_logo/78238/78238,1255878221,16/stock-photo-cyber-woman-with-a-corn-39094327.jpg"
                 class="rounded-circle hoverable" style="width:35px;height:35px;">
            <button class="btn btn-outline-success btn-sm my-0" onclick="location.href='/logout'">Logout</button>
        </div>
    </nav>
    <div class="dashboard-body">
        {% include '/templates/courselist.twig' %}
        {% block content %}
            <div class="welcome-text">
                <h1>Welcome back, {{ user.username }}!</h1>
                {% if user.hasExtendedPrivileges %}
                    <p>Select a course from the course list, or create a course.</p>
                    <button type="button" data-target="#courseForm" class="btn btn-primary" data-toggle="collapse"
                            aria-expanded="false" aria-controls="courseForm">Create Course
                    </button>
                    {% include '/templates/courseFormView.twig' %}
                {% else %}
                    <p>Select a course from the course list.</p>
                {% endif %}
            </div>
        {% endblock %}
    </div>
{% endblock %}