{% extends '/templates/base.twig' %}

{% block title %}
    <title>Instructor</title>
{% endblock %}

{% block style %}
    {{ parent() }}
    <link href="/css/instructor.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-dark justify-content-between">
        <a href="/instructor" class="navbar-brand" style="font-size: 20pt;">Attendance Tracker</a>
        <div class="float-right">
            <img src="https://thumb9.shutterstock.com/display_pic_with_logo/78238/78238,1255878221,16/stock-photo-cyber-woman-with-a-corn-39094327.jpg" class="rounded-circle hoverable" style="width:35px;height:35px;">
            <button class="btn btn-outline-success btn-sm my-0" onclick="location.href='/logout'">Logout</button>
        </div>
    </nav>
    {% include '/templates/courselist.twig' %}
    <div class="instructor-body">
        {% block content %}
            <div class="welcome-text">
                <h1>Welcome Back, {{ user.username }}!</h1>
                {% if user.hasExtendedPrivileges %}
                    <p>Select a course from the course list, or create a course.</p>
                    <button type="button" onclick="location.href='/'" class="btn btn-primary">Create Course</button>
                {% else %}
                    <p>Select a course from the course list.</p>
                {% endif %}
            </div>
        {% endblock %}
    </div>
{% endblock %}