{% extends 'base.twig' %}

{% block title %}
    <script type="text/javascript" src="/js/index.js"></script>
    <link href="/css/index.css" rel="stylesheet"/>
    <title>Attendance Tracker - Welcome!</title>
{% endblock %}

{% block body %}
    <div style="height: 100vh">
        <div id = index-main" class="flex-center flex-column">
            <div id="sign-in-form" class="form-elegant">
                <div class="card">
                    <div class="card-body mx-4">
                        <div class="text-center">
                            <h3 class="dark-grey-text mb-5"><strong>Sign in</strong></h3>
                        </div>
                        <div class="md-form">
                            <input type="text" id="Form-email1" class="form-control">
                            <label for="Form-email1">Your Username</label>
                        </div>
                        <div class="md-form pb-3">
                            <input type="password" id="Form-pass1" class="form-control">
                            <label for="Form-pass1">Your password</label>
                            <p class="font-small blue-text d-flex justify-content-end">Forgot <a href="#" class="blue-text ml-1"> Password?</a></p>
                        </div>
                        <div class="text-center mb-3">
                            <button type="button" class="btn btn-primary">Sign in</button>
                        </div>
                    </div>
                    <div class="modal-footer mx-5 pt-3 mb-1">
                        <p class="font-small grey-text d-flex justify-content-end">Not a member? <a href="#" class="blue-text ml-1"> Sign Up</a></p>
                    </div>
                </div>
            </div>
            <div id="index-button-container">
                <button id="student-login-button" type="button" class="btn btn-primary">I'm a Student</button>
                <button id="instructor-login-button" type="button" class="btn btn-primary">I'm a Teacher</button>
            </div>
        </div>
    </div>
{% endblock %}
