{% extends 'base.twig' %}

{% block style %}
    <link href="/css/grid.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div><h1>{{ course }}</h1></div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div id="grid"></div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div>
                    <button>Save</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="/js/grid.js"></script>
    <script>
        $(document).ready(function() {
           var grid = new Grid({
               rows: {{ rows }},
               cols: {{ cols }},
               states: ["open", "closed", "reserved"]
           });
           $('#grid').append(grid.el);
        });
    </script>
{% endblock %}

